<div class="article-write page">
	<div ng-include="'/backend/static/templates/loading.template.html'"
		 ng-if="isLoading">
	</div>

	<div ng-if="categoires.length <= 0 && !isLoading">
		<h1> no category, please add a category first</h1>
	</div>
	
	<div ng-if="categoires.length > 0 && !isLoading"
		ng-show="!pictureSelectPaneOption.show">
		<header class="article-write-header clearfix">
			<div class="article-title fl">
				<span>Title</span>
				<input
					placeholder="please input title" 
					type="text" 
					ng-model="article.title"
				/>
			</div>

			<div 
				class="category-selector fl"
				uib-dropdown>
				<button 
					uib-dropdown-toggle
					class="btn category-selector-btn">
					<span ng-bind="curtCategory.name"></span>
					<span class="icon caret"></span>
				</button>

				<ul uib-dropdown-menu
					class="categoires dropdown-menu">
					<li class="category-item"
						ng-repeat="category in categoires">
						<a ng-bind="category.name"
							ng-click="changeCategory(category)">
						</a>
					</li>
				</ul>
			</div>

			<div class="publish-selector fl clearfix">
				<div class="checkbox-wrapper fl">
					<checkbox
						default-value="{{article.isPublish}}"
						on-change="togglePublishState()"
					/>
				</div>

				<span 
					class="text fl">
					Publish
				</span>
			</div>

			<div class="btn-group clearfix fr">
				<button
					class="fl btn save-article-btn" 
					ng-click="saveArticle()">
					Save
				</button>
			</div>
		</header>

		<div class="article-write-body">
			<wl-editor
				on-ctrl-s="saveArticle()"
				on-change="onContentChange(html, markdown)"
				on-picture-select="onPictureSelect(isFullScreen)">
			</wl-editor>
		</div>
	</div>

	<div 
		class="picture-select-pane" 
		ng-show="pictureSelectPaneOption.show"
		ng-class="{'full-screen': pictureSelectPaneOption.isFullScreen}">
		<div class="picture-select-pane-body">
			<iframe
				id="picture-select-iframe"
				scrolling="yes"
				frameborder="0"
				src="/backend/static/templates/picture/picture.select.pane.template.html">
			</iframe>
		</div>

		<footer class="picture-select-pane-footer clearfix">
			<div class="btn-group clearfix fr">
				<button 
					class="btn cancel-btn fl"
					ng-click="onPictureSelectCancel()">
					<span class="text">Cancel</span>
				</button>

				<button
					class="btn confirm-btn fl"
					ng-click="onPictureSelectConfirm()">
					<span class="text">Confirm</span>
				</button>
			</div>
		</footer>
	</div>
</div>