<div class="article-list page">
	<div ng-include="'/backend/static/templates/loading.template.html'"
		 ng-show="isLoading">
	</div>

	<div ng-show="!isLoading && statistic.total < 0">
		<h1>no article, please to write</h1>
		<a href="#!/article/write">Writing Article</a>
	</div>

	<div class="article-list-area" ng-show="!isLoading && statistic.total > 0 && articleList.show">
		<div class="toolbar clearfix">
			<ul class="clearfix fl btn-group">
				<li class="fl btn-wrapper">
					<a  class="btn write-article-btn"
						href="#!/article/write">
						Write Article
					</a>
				</li>

				<li class="fl btn-wrapper">
					 <div uib-dropdown>
						<button 
							uib-dropdown-toggle
							class="btn category-selector-btn">
							<span
								ng-bind="articleList.categorySelector.curtCategory.name">
							</span>
							<span class="icon caret"></span>
						</button>

						<ul class="category-selector dropdown-menu"
							uib-dropdown-menu 
							aria-labelledby="simple-dropdown">
							<li class="item"
								ng-click="articleList.updateCategory(defaultCategory)">
								<a ng-bind="defaultCategory.name"></a>
							</li>

							<li class="item"
								ng-repeat="category in categories"
								ng-click="articleList.updateCategory(category)">
								<a ng-bind="category.name"></a>
							</li>
						</ul>
					 </div>	
				</li>

				<li class="fl btn-wrapper">
					<div uib-dropdown>
						<button
							uib-dropdown-toggle
							class="btn publish-selector-btn">
							<span
								ng-bind="articleList.publishSelector.curtItem.name">
							</span>
							<span class="icon caret"></span>
						</button>
					
						<ul class="publish-selector dropdown-menu"
							uib-dropdown-menu 
							aria-labelledby="simple-dropdown">
							<li class="item"
								ng-repeat="publishItem in publishList"
								ng-click="articleList.updatePublishSelecorItem(publishItem)">
								<a ng-bind="publishItem.name"></a>
							</li>
						</ul>
					</div>
				</li>

				<li class="fl btn-wrapper">
					<button 
						class="btn filtrate-btn"
						ng-click="articleList.filtrateArticles()">
						Filtrate
					</button>
				</li>
			</ul>
			
			<div class="article-summery fr">
				<span ng-bind="'All(' + statistic.total + ')'"></span>
				<span>|</span>
				<span ng-bind="'Published(' + statistic.numOfPublished + ')'"></span>
				<span>|</span>
				<span ng-bind="'UnPublished(' + (statistic.total - statistic.numOfPublished) + ')'"></span>
			</div>
		</div>

		<div class="articles">
			<table>
				<thead>
					<tr>
						<td><span>Index</span></td>
						<td><span>Title</span></td>
						<td><span>Author</span></td>
						<td><span>Category</span></td>
						<td><span>State</span></td>
						<td><span>Date</span></td>
						<td><span>Operation</span></td>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="article in articleList.articles">
						<td>
							<span ng-bind="article.index"></span>
						</td>

						<td>
							<span ng-bind="article.title"></span>
						</td>

						<td>
							<span ng-bind="user.name"></span>
						</td>

						<td>
							<span ng-bind="article.category.name"></span>
						</td>

						<td>
							<span ng-bind="article.isPublish ? 'Published' : 'UnPublished'"></span>
						</td>

						<td>
							<span ng-bind="article.date | date"></span>
						</td>

						<td>
							<div class="operation-btn-group">
								<button 
									class="btn edit-btn"
									ng-click="articleList.editArticle(article)">
									Edit
								</button>
								
								<button 
									class="btn delete-btn"
									ng-click="articleList.deleteArticle(article)">
									Delete
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination-wrapper clearfix">
				<ul class="fl clearfix"
					uib-pagination
					boundary-links="true"
					items-per-page="articleList.numPerPage"
					total-items="articleList.total" 
					ng-model="articleList.curtPage" 
					ng-change="articleList.pageChanged()">	
				</ul>
			</div>
		</div>

		<div>
			<wl-dialog
				ng-show="deleteArticleDialogOption.show"
				title="{{deleteArticleDialogOption.title}}"
				buttons="deleteArticleDialogOption.buttons"
				on-close="deleteArticleDialogOption.onClose()">
				<p>Are you sure to delete this article ?</p>
			</wl-dialog>
		</div>
	</div>

	<div ng-if="!isLoading && statistic.total > 0 && articleEdit.show" 
		class="article-edit-area"
		ng-show="!articleEdit.pictureSelectPaneOption.show">
		<header class="article-edit-header">
			<div class="back-btn-wrapper clearfix">
				<button
					class="btn back-btn fr"
					ng-click="articleEdit.backToArticleList()">
					X
				</button>
			</div>
			<div class="toolbar clearfix">
				<div class="article-title fl">
					<span>Title</span>
					<input
						placeholder="please input title" 
						type="text" 
						ng-model="articleEdit.article.title"
					/>
				</div>

				<div 
					class="category-selector fl" 
					uib-dropdown>

					<button 
						uib-dropdown-toggle
						class="btn category-selector-btn">
						<span 
							ng-bind="articleEdit.categorySelector.curtCategory.name">
						</span>
						<span class="icon caret"></span>
					</button>

					<ul uib-dropdown-menu
						class="categoires dropdown-menu">
						<li class="category-item"
							ng-repeat="category in categories">
							<a ng-bind="category.name"
								ng-click="articleEdit.changeCategory(category)">
							</a>
						</li>
					</ul>
				</div>

				<div class="publish-selector fl clearfix">
					<div class="checkbox-wrapper fl">
						<checkbox
							default-value="{{articleEdit.article.isPublish}}"
							on-change="articleEdit.togglePublishState()"
						/>
					</div>

					<span 
						class="text fl">
						Publish
					</span>
				</div>

				<div class="btn-group clearfix fr">
					<button
						class="fl btn save-article-btn" 
						ng-click="articleEdit.updateArticle()">
						Update
					</button>
				</div>
			</div>	
		</header>

		<div class="article-edit-body">
			<wl-editor
				content="{{articleEdit.article.markdown}}"
				on-ctrl-s="articleEdit.updateArticle()"
				on-change="articleEdit.onContentChange(html, markdown)"
				on-picture-select="articleEdit.onPictureSelect(isFullScreen)">		
			</wl-editor>
		</div>
	</div>

	<div 
		class="picture-select-pane" 
		ng-show="articleEdit.pictureSelectPaneOption.show"
		ng-class="{'full-screen': articleEdit.pictureSelectPaneOption.isFullScreen}">
		<div class="picture-select-pane-body">
			<iframe
				id="picture-select-iframe"
				scrolling="yes"
				frameborder="0"
				src="/backend/static/templates/picture/picture.select.pane.template.html">
			</iframe>
		</div>

		<footer class="picture-select-pane-footer clearfix">
			<div class="btn-group clearfix fr">
				<button 
					class="btn cancel-btn fl"
					ng-click="articleEdit.onPictureSelectCancel()">
					<span class="text">Cancel</span>
				</button>

				<button
					class="btn confirm-btn fl"
					ng-click="articleEdit.onPictureSelectConfirm()">
					<span class="text">Confirm</span>
				</button>
			</div>
		</footer>
	</div>
</div>