<div class="article-category page">
	<div class="clearfix btn-group">
		<button 
			class="btn fl add-category-btn"
			ng-click="addCategory()">
			Add Category
		</button>

		<button 
			class="btn fl batch-delete-btn"
			ng-class="{disabled: !hasChecked}"
			ng-click="deleteCheckedCategories()">
			Batch Delete
		</button>
	</div>

	<div class="categories">
		<table>
			<thead>
				<tr>
					<td>
						<checkbox
							default-value="{{checkAll}}"
							on-change="toggleCategoryAllStateChanged()">
						</checkbox>
					</td>

					<td>
						<span>Index</span>
					</td>

					<td>
						<span>Name</span>
					</td>

					<td>
						<span>Operation</span>
					</td>
				</tr>
			</thead>
			<tr ng-repeat="category in categories">
				<td>
					<checkbox 
						default-value="{{category.isChecked}}"
						on-change="toggleCategoryCheckState(category)">
					</checkbox>
					
				</td>

				<td>
					<span ng-bind="$index + 1"></span>
				</td>

				<td>
					<span ng-bind="category.name"></span>
				</td>

				<td>
					<div class="operation-btn-group">
						<button
							class="btn edit-btn" 
							ng-click="updateCategory(category)">
							update
						</button>

						<button
							class="btn delete-btn" 
							ng-click="deleteCategory(category)">
							delete
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<wl-dialog 
		ng-show="acd.show"
		title="{{acd.config.title}}"
		buttons="acd.config.buttons"
		on-close="acd.config.onClose()">
		
		<input
			type="text" 
			ng-model="acd.name"
		/>
	</wl-dialog>

	<wl-dialog 
		ng-show="ucd.show"
		title="{{ucd.config.title}}"
		buttons="ucd.config.buttons"
		on-close="ucd.config.onClose()">
		<input
			ng-model="ucd.category.name"
		/>
	</wl-dialog>

	<wl-dialog 
		ng-show="dcd.show"
		title="{{dcd.config.title}}"
		buttons="dcd.config.buttons"
		on-close="dcd.config.onClose()">
		
		<p>Are you sure to delete this category?</p>
	</wl-dialog>

	<wl-dialog 
		ng-show="dcsd.show"
		title="{{dcsd.config.title}}"
		buttons="dcsd.config.buttons"
		on-close="dcsd.config.onClose()">
		
		<p>Are you sure to delete all selected categories?</p>
	</wl-dialog>
	
</div>