<div class="dialog model-dialog confirm-dialog">
	<div class="wrapper">
		<div class="dialog-header clearfix">
			<h4 class="title fl" ng-bind="title"></h4>	
			<button class="btn btn-close icon iconfont fr"
					ng-click="close()">
					&#xe61c;
			</button>
		</div>

		<div class="dialog-body">
			<p class="message" ng-bind="message"></p>
		</div>

		<div class="dialog-footer clearfix">
			<div class="btn-group fr">
				<button class="btn btn-cancel" 
						ng-click="close()">
					cancel
				</button>

				<button class="btn btn-confirm"
						ng-click="confirm()">
						confirm
				</button>
			</div>
		</div>		
	</div>
</div>