@mixin textOverflowEllipsis {
	white-space: nowrap; 
	overflow: hidden; 
	-webkit-text-overflow: ellipsis;
	   -moz-text-overflow: ellipsis;
	    -ms-text-overflow: ellipsis;
		 -o-text-overflow: ellipsis; 
			text-overflow: ellipsis; 
}

@mixin keyframes ($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@-ms-keyframes #{$name} {
		@content;
	}

	@-o-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}