.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.btn {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;

	&:active,
	&:focus {
		outline: none;
	} 
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown {
	&:not(.open) {
		.dropdown-menu {
			display: none;
		}
	}
}