<!doctype html>

<html ng-app="Backend">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" type="text/css" href="/backend/static/editormd/css/editormd.min.css">
		<link rel="stylesheet" type="text/css" href="/backend/static/build/css/main.css">
	</head>

	<body ng-controller="mainCtrol">
		<header class="header clearfix">
			<div class="header-nav fl clearfix">
				<h1 class="title fl">DASHBOARD</h1>
				<a class="menu-bar-toggle fl" 
				   ng-click="toogleMenuBar()">
					<span>
						<i></i>
						<i></i>
						<i></i>
					</span>
				</a>
			</div>

			<div class="header-profile fr clearfix">
				<a class="intro fl clearfix"
				   href="#!/profile">
					<div class="photo-wrapper fl">
						<img class="photo" 
						 	 ng-src="{{user.photo}}"
						/>
					</div>
					<span class="name fl" 
						  title="{{user.name}}" 
						  ng-bind="user.name">	  	
					</span>
				</a>

				<div class="btn-group fl">
					<button class="btn logout-btn" 
							ng-click="logout()">
						<i class="icon iconfont">&#xe669;</i>
					</button>
				</div>
			</div>
		</header>
		
		<aside class="menu-bar" ng-class="{collapse: collapseMenuBar}">
			<nav>
				<ul>
					<li>
						<a ng-class="{active: activePage =='index'}"
						   href="#!/index">
							<i class="icon iconfont">&#xe71b;</i>
							<span class="text">Home</span>
						</a>
					</li>

					<li>
						<a ng-class="{active: activePage =='article'}">
							<i class="icon iconfont">&#xe601;</i>
							<span class="text">Article</span>
						</a>

						<ul>
							<li>
								<a href="#!/article/list">
									<i></i>
									<span>All</span>
								</a>
							</li>

							<li>
								<a href="#!/article/write">	
									<i></i>
									<span>Writing</span>
								</a>
							</li>

							<li>
								<a href="#!/article/category">
									<i></i>
									<span>Category</span>
								</a>
							</li>
						</ul>
					</li>
					
					<li>
						<a ng-class="{active: activePage =='picture'}"
						   href="#!/picture">
							<i class="icon iconfont">&#xe6ad;</i>
							<span class="text">Picture</span>
						</a>
					</li>

					<li>
						<a ng-class="{active: activePage =='profile'}"
						   href="#!/profile">
							<i class="icon iconfont">&#xe73a;</i>
							<span class="text">Profile</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>

		<div class="body">
			<div ng-view class="view"></div>
		</div>

		<div class="message-area">
			<div class="message-list fr">
				<div ng-repeat="msg in msgQueue"
					 class="message-dialog" ng-class="msg.cls">
					 <div class="icon-wrapper">
					   	<i 	class="icon iconfont" 
					   		ng-bind-html="msg.icon | htmlToBeTrust">	
					   	</i>
					 </div>
					 <p class="message" ng-bind="msg.msg"></p>
				</div>
			</div>
		</div>
		

		<script type="text/javascript" src="/backend/static/jquery.min.js"></script>
		<script type="text/javascript" src="/backend/static/editormd/editormd.min.js"></script>

		<script type="text/javascript" src="/backend/static/angular.min.js"></script>
		<script type="text/javascript" src="/backend/static/angular-animate.min.js"></script>
		<script type="text/javascript" src="/backend/static/angular-route.min.js"></script>
		<script type="text/javascript" src="/backend/static/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="/backend/static/src/app.js"></script>
		<script type="text/javascript" src="/backend/static/src/utils/validation.js"></script>
		<script type="text/javascript" src="/backend/static/src/utils/uuid.js"></script>
		<script type="text/javascript" src="/backend/static/src/filter/htmlToBeTrust.js"></script>
		<script type="text/javascript" src="/backend/static/src/config/config.js"></script>

		<script type="text/javascript" src="/backend/static/src/services/model/user.js"></script>

		<script type="text/javascript" src="/backend/static/src/services/model/category.js"></script>
		<script type="text/javascript" src="/backend/static/src/services/model/article.js"></script>
		<script type="text/javascript" src="/backend/static/src/services/model/directory.js"></script>
		<script type="text/javascript" src="/backend/static/src/services/model/picture.js"></script>

		<script type="text/javascript" src="/backend/static/src/controllers/main.controller.js"></script>
		<script type="text/javascript" src="/backend/static/src/controllers/article/article.controller.js"></script>

		<script type="text/javascript" src="/backend/static/src/controllers/article/article.list.controller.js"></script>
		<script type="text/javascript" src="/backend/static/src/controllers/article/article.write.controller.js"></script>
		<script type="text/javascript" src="/backend/static/src/controllers/article/article.category.controller.js"></script>



		<script type="text/javascript" src="/backend/static/src/controllers/index/index.controller.js"></script>
		<script type="text/javascript" src="/backend/static/src/controllers/picture/picture.controller.js"></script>
		<script type="text/javascript" src="/backend/static/src/controllers/profile/profile.controller.js"></script>

		<script type="text/javascript" src="/backend/static/src/directives/dialog/dialog.js"></script>
		<script type="text/javascript" src="/backend/static/src/directives/editor/editor.js"></script>

		
		<script type="text/javascript" src="/backend/static/src/directives/dialog/uploadPhotoDialog/uploadPhotoDialog.js"></script>
		<script type="text/javascript" src="/backend/static/src/directives/dialog/addCategoryDialog/addCategoryDialog.js"></script>
		<script type="text/javascript" src="/backend/static/src/directives/dialog/updateCategoryDialog/updateCategoryDialog.js"></script>
		<script type="text/javascript" src="/backend/static/src/directives/dialog/confirmDialog/confirmDialog.js"></script>
		<script type="text/javascript" src="/backend/static/src/directives/dialog/imageUploadDialog/imageUploadDialog.js"></script>
	</body>
</html>