<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
	</head>

	<body>
		<form method="post" action="/backend/user/login">
			<label>
				username: <input type="text" name="username">
			</label>

			<label>
				password: <input type="password" name="password">
			</label>

			<label>
				remember: <input type="checkbox" name="remember">
			</label>

			<button type="submit">login</button>
		</form>
	</body>
</html>