.picture-page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;

    .picture-page-body {
        position: relative;
        width: 100%;
        padding: 2.5rem 3rem;

        .content-area {
            width: 100%;
            padding-right: 0;

            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;

            &.collapse {
                padding-right: 20rem;
            }

            & > .header {
                .btn-group {
                    .btn {
                        position: relative;
                        display: inline-block;
                        height: 3.6rem;
                        margin-left: 1rem;
                        padding-left: 3rem;
                        padding-right: 3rem;
                        line-height: 3.6rem;
                        text-align: center;
                        color: $white;
                        font-size: 1.4rem;
                        opacity: 1;
                        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);

                        -webkit-transition: all 0.2s ease-in-out;
                        -moz-transition: all 0.2s ease-in-out;
                        -ms-transition: all 0.2s ease-in-out;
                        -o-transition: all 0.2s ease-in-out;
                        transition: all 0.2s ease-in-out;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:not(.disabled) {
                            &:hover {
                                opacity: .8;
                            }

                            &:active {
                                box-shadow: 0 0 4px rgba(0,0,0,.32),0 2px 4px rgba(0,0,0,.3);
                            }
                        }

                        &.disabled {
                            background-color: $grey;
                            opacity: .4;
                        }
                    }

                    .picture-select-btn {
                        position: relative;
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        background-color: $blue;

                        [type="file"] {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }

                        .text {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            padding-left: 3rem;
                            padding-right: 3rem;
                            cursor: pointer;
                        }
                    }

                    .create-dir-dialog-btn {
                        background-color: $green;
                    }

                    .preview-btn {
                        background-color: $lightGreen;
                    }

                    .batch-delete-btn {
                        background-color: $blackishGreen;
                    }
                }
            }
            
            & > .body {                
            
                .picture-directory-list {
                    
                    .path {
                        padding: .5rem 2rem;
                        margin-top: 2rem;
                        color: $grey;
                        font-size: 1.4rem;
                        line-height: 3.6rem;
                        background-color: rgba(236, 239, 241, 0.56);
                        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);

                        ul {

                            li {
                                margin-right: .4rem;

                                a {
                                    color: $blue;

                                    &:hover {
                                        opacity: .8;
                                    }
                                }

                                .icon {
                                    margin-left: .4rem;
                                    color: $grey;
                                }

                                &:last-child {
                                    margin-right: 0;

                                    a {
                                        color: $grey;
                                        cursor: default;
                                    }

                                    .icon {
                                        display: none;
                                    }
                                }
                            }
                                
                        }
                    }

                    table {
                        width: 100%;
                        margin-top: 2rem;
                        color: $grey;
                        font-size: 1.5rem;
                        text-align: center;
                        vertical-align: middle;
                        border-collapse: collapse;
                        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);

                        tr {
                            border-top: 1px solid #f3efef;

                            &:first-child {
                                border: none;
                            }

                            td {
                                padding: 1.3rem 0;

                                &:first-child {
                                    width: 6rem;
                                }
                            }
                        }

                        thead {
                            color: $white;
                            font-weight: 600;
                            background-color: $blue;

                            .wl-checkbox {
                                vertical-align: middle;
                                border-color: $white;

                                .icon {
                                    border-color: $white;
                                }
                            }
                        }

                        tbody {
                            background-color: $white;

                            tr {
                                cursor: pointer;

                                &.active {
                                    background-color: rgba(158,158,158,.1);
                                }
                            }

                            .wl-checkbox {
                                vertical-align: middle;
                            }

                            .dir-icon {
                                display: inline-block;
                                width: 30px;
                                height: 25px;
                                background-repeat: no-repeat;
                                background-position: -594px -416px;
                                background-image: url("/backend/static/image/icon.png");
                            }

                            .pic-icon {
                                display: inline-block;
                                width: 26px;
                                height: 26px;
                                background-repeat: no-repeat;
                                background-image: url("/backend/static/image/picture.icon.png");
                            }

                            .operation-btn-group {
                                .btn {
                                    display: inline-block;
                                    display: inline-block;
                                    line-height: 2.4rem;
                                    color: $black;
                                    opacity: 1;
                                    text-decoration: underline;
                                    
                                    &:hover {
                                        opacity: .8;
                                    }
                                    
                                    &.edit-btn,
                                    &.copy-link-btn {
                                        color: $green;
                                        margin-right: 1rem;
                                        
                                    }

                                    &.delete-btn {
                                        color: $red;
                                    }
                                }
                            }                            
                        }
                    }
                }

                

                .pagination-wrapper {
                    margin-top: 2rem;
                    padding-left: 1rem;
                    background-color: $white;
                    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);

                    li {
                        float: left;
                        margin-left: .5rem;
                        padding: 1.3rem 0;

                        a {
                            display: inline-block;
                            padding-left: 1rem;
                            padding-right: 1rem;
                            line-height: 2.4rem;
                            font-size: 1.4rem;
                            color: $black;
                            opacity: 1;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        &.active {
                            a {
                                font-weight: 600;
                                color: $blue;
                            }
                        }

                        &.disabled {
                            a {
                                color: $grey;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .preview-area {
            position: fixed;
            right: 0;
            top: 0;
            width: 0;
            height: 100%;
            padding-top: 6.4rem;
            // background-color: rgba(236, 239, 241, 0.56);
            background-color: $white;

            -webkit-transition: width 0.3s ease-in-out;
            -moz-transition: width 0.3s ease-in-out;
                -ms-transition: width 0.3s ease-in-out;
                -o-transition: width 0.3s ease-in-out;
                    transition: width 0.3s ease-in-out;
            

            &.extend {
                width: 20rem;
                box-shadow: -0.2rem 0 0.4rem 0 rgba(0, 0, 0, 0.4);
            }
        }

        
    }

    .picture-upload-pane {
        position: fixed;
        width: 500px;
        right: 3rem;
        bottom: 0;
        background-color: $white;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2), 0 0 4px 0 rgba(0, 0, 0, .5);

        & > .header {
            padding: 1.3rem 2rem;
            border-bottom: 1px solid #f3efef;
            color: $black;
                background: $white;

            .title,
            .btn {
                color: $black;
                font-size: 1.4rem;
                font-weight: 500;
            }
        }

        & > .body {
            height: 250px;
            overflow: auto;

            table {
                width: 100%;
                border-collapse: collapse;
                color: $grey;
                font-size: 1.2rem;
                text-align: center;

                td {
                    padding: 1rem 0;
                }

                tr {
                    td:first-child {
                        padding-left: 1.2rem;
                    }
                }

                thead {
                    color: $black;
                }

                tbody {
                    tr {
                        border-top: 1px solid #f3efef;
                    }

                    .pic-icon {
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        vertical-align: middle;
                        background-repeat: no-repeat;
                        background-image: url(/backend/static/image/picture.icon.png);
                    }

                    .state {
                        &.success {
                            color: $green;
                        }

                        &.error {
                            color: $red;
                        }

                        &.aborted {
                            color: $orange;
                        }
                    }

                    .abort-upload-picture-btn {
                        color: $red;
                        text-decoration: underline;
                    }
                }
            }
        }
            
    }
}