.image-cropper {
	cursor: move;
	-webkit-user-select: none;
			user-select: none;

	.ic-dragbar {
		position: absolute;
		z-index: 4;
		background: url("/backend/static/image/ic-dragbar.gif");

		&.top {
			top: 0;
			width: 100%;
			height: 1px;
			cursor: s-resize;
		}

		&.right {
			right: 0;
			width: 1px;
			height: 100%;
			cursor: n-resize;
		}

		&.bottom {
			bottom: 0;
			width: 100%;
			height: 1px;
			cursor: n-resize;
		}

		&.left {
			left: 0;
			width: 1px;
			height: 100%;
			cursor: e-resize;
		}
	}

	.ic-handle {
		position: absolute;
		z-index: 2;
		display: inline-block;
		box-sizing: border-box;
		width: 8px;
		height:8px;
		margin: auto;
		background: #333;
		border: 1px solid #eee;

		&.top {
			left: 0;
			right: 0;
			top: -4px;
			cursor: s-resize;
		}

		&.top-right {
			right: -4px;
			top: -4px;
			cursor: sw-resize;
		}

		&.right {
			right: -4px;
			top: 0;
			bottom: 0;
			cursor: w-resize;
		}

		&.right-bottom {
			right: -4px;
			bottom: -4px;
			cursor: nw-resize;
		}

		&.bottom {
			left: 0;
			right: 0;
			bottom: -4px;
			cursor: n-resize;
		}

		&.bottom-left {
			left: -4px;
			bottom: -4px;
			cursor: ne-resize;
		}

		&.left {
			left: -4px;
			top: 0;
			bottom: 0;
			cursor: e-resize;
		}

		&.left-top {
			left: -4px;
			top: -4px;
			cursor: se-resize;
		}
	}
}