<div class="picture-page page">
	<div ng-include="'/backend/static/templates/loading.template.html'"
		 ng-if="isLoading">
	</div>

	<div ng-show="!isLoading" class="picture-page-body">
		<div class="content-area"
			ng-class="{collapse: preview.show}">
			<header class="header">
				<div class="btn-group clearfix">
					<button class="btn picture-select-btn fl">
						<input 
							id="picture-page-picture-upload-input-file"
							type="file" 
							multiple="multiple"
							onchange="angular.element(this).scope().onPictureInputChanged(event)"
						/>

						<label
							class="text" 
							for="picture-page-picture-upload-input-file">
							Upload
						</label>
					</button>

					<button 
						class="btn create-dir-dialog-btn fl"
						ng-click="openCreateDirDialog()">
						<span>New Directory</span>
					</button>

					<button 
						class="btn preview-btn fl"
						ng-click="togglePreview()">
						<span>Preview</span>
					</button>

					<button 
						class="btn batch-delete-btn fl"
						ng-class="{disabled: !hasChecked}"
						ng-click="batchDelete()">
						Batch Delete
					</button>
				</div>
			</header>

			<div class="body">
				<div class="picture-directory-list">
					<div class="path">
						<span 
							ng-show="path.length <= 1">
							All
						</span>

						<ul class="clearfix"
							ng-show="path.length > 1">
							<li class="fl">
								<a class="path-dir"
									href="javascript:;" 
									ng-click="backToParentDir()">
									Back
								</a>

								<span class="icon">|</span>
							</li>

							<li class="fl"
								ng-show="path.length > 4">
								<a class="path-dir"
									href="javascript:;">
									...
								</a>

								<span class="icon">&gt;</span>
							</li>
								
							<li class="fl"
								ng-if="path.length > 4"
								ng-repeat="item in path | limitTo: 4 : path.length - 4">
									
								<a class="path-dir"
									href="javascript:;" 
									ng-click="changeToDir(item.dir)"
									ng-bind="item.dir.name">
								</a>

								<span class="icon">&gt;</span>
							</li>

							<li class="fl"
								ng-if="path.length <= 4"
								ng-repeat="item in path">
									
								<a class="path-dir"
									href="javascript:;" 
									ng-click="changeToDir(item.dir)"
									ng-bind="item.dir.name">
								</a>

								<span class="icon">&gt;</span>
							</li>
						</ul>
					</div>

					<table>
						<thead>
							<tr>
								<td>
									<checkbox
										default-value="{{isAllChecked}}"
										on-change="toggleAllChecked()">
									</checkbox>
								</td>

								<td>
									<span>Index</span>
								</td>

								<td>
									<span class="icon">Icon</span>
								</td>

								<td>
									<span>Name</span>
								</td>

								<td>
									<span>Date</span>
								</td>
									

								<td>
									<span>Operation</span>
								</td>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="dirItem in dir.dirs"
								ng-dblclick="enterToDir(dirItem)"
								ng-click="activeDir(dirItem)"
								ng-class="{active: dirItem.isActive}">
								<td>
									<checkbox
										default-value="{{dirItem.isChecked}}"
										on-change="toggleCategoryChecked(dirItem)">
									</checkbox>
								</td>

								<td>
									<span ng-bind="dirItem.index + 1"></span>
								</td>

								<td>
									<span class="dir-icon"></span>
								</td>

								<td>
									<span ng-bind="dirItem.name"></span>
								</td>

								<td>
									<span ng-bind="dirItem.date | date"></span>
								</td>

								<td>
									<div class="operation-btn-group">
										<button 
											class="btn edit-btn"
											ng-click="openUpdateDirDialog(dirItem)">
											Edit
										</button>
										
										<button 
											class="btn delete-btn"
											ng-click="openDeleteDirDialog(dirItem)">
											Delete
										</button>
									</div>
								</td>
							</tr>

							<tr ng-repeat="pic in pic.pics"
								ng-click="activeDir(pic)"
								ng-class="{active: pic.isActive}">
								<td>
									<checkbox
										default-value="{{pic.isChecked}}"
										on-change="togglePictureChecked(pic)">
									</checkbox>
								</td>

								<td>
									<span ng-bind="pic.index + 1"></span>
								</td>

								<td>
									<span class="pic-icon"></span>
								</td>

								<td>
									<span ng-bind="pic.name"></span>
								</td>

								<td>
									<span ng-bind="pic.date | date"></span>
								</td>

								<td>
									<div class="operation-btn-group">
										<button
											class="btn copy-link-btn"
											ng-click="copyPictureLink(pic)">
											Copy Link
										</button>
										
										<button 
											class="btn delete-btn"
											ng-click="openDeletePictureDialog(pic)">
											Delete
										</button>
									</div>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="pagination-wrapper clearfix">
					<ul class="fl clearfix"
						uib-pagination
						boundary-links="true"
						items-per-page="pagination.numPerPage"
						total-items="pagination.total" 
						ng-model="pagination.curtPage" 
						ng-change="onPageChanged()">	
					</ul>
				</div>
			</div>
		</div>

		<div class="preview-area"
			ng-class="{extend: preview.show}">
		</div>

		<div>
			<wl-dialog
				ng-show="createDirDialogConfig.show"
				title="{{createDirDialogConfig.title}}"
				buttons="createDirDialogConfig.buttons"
				on-close="createDirDialogConfig.onClose()">
				
				<input 
					type="text" 
					ng-model="createDirDialogConfig.name"
				/>
			</wl-dialog>

			<wl-dialog
				ng-show="updateDirDialogConfig.show"
				title="{{updateDirDialogConfig.title}}"
				buttons="updateDirDialogConfig.buttons"
				on-close="updateDirDialogConfig.onClose()">
				
				<input 
					type="text" 
					ng-model="updateDirDialogConfig.dir.name"
				/>
			</wl-dialog>

			<wl-dialog
				ng-show="deleteDirDialogConfig.show"
				title="{{deleteDirDialogConfig.title}}"
				buttons="deleteDirDialogConfig.buttons"
				on-close="deleteDirDialogConfig.onClose()">
				
				<p>Are you sure to delete this dir?</p>
			</wl-dialog>

			<wl-dialog
				ng-show="deletePictureDialogConfig.show"
				title="{{deletePictureDialogConfig.title}}"
				buttons="deletePictureDialogConfig.buttons"
				on-close="deletePictureDialogConfig.onClose()">
				
				<p>Are you sure to delete this picture?</p>
			</wl-dialog>

			<wl-dialog
				ng-show="copyPictureLinkDialogConfig.show"
				title="{{copyPictureLinkDialogConfig.title}}"
				buttons="copyPictureLinkDialogConfig.buttons"
				on-close="copyPictureLinkDialogConfig.onClose()">
				
				<input 
					autofocus
					type="text" 
					ng-model="copyPictureLinkDialogConfig.link"
				/>
			</wl-dialog>
		</div>
	</div>

	<div class="picture-upload-pane" ng-show="uploadPicturesDialogConfig.show">
		<div class="clearfix header">
			<h4 class="title fl">Upload Picture</h4>	
			<button class="btn btn-close icon iconfont fr"
					ng-click="closeUploadPicturesDialog()">
					&#xe61c;
			</button>
		</div>

		<div class="body">
			<table>
				<thead>
					<tr>
						<td>
							<span>Index</span>
						</td>
							
						<td>
							<span>Icon</span>
						</td>

						<td>
							<span>Name</span>
						</td>

						<td>
							<span>Size</span>
						</td>

						<td>
							<span>State</span>
						</td>

						<td>
							<span>Operation</span>
						</td>					
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="picture in uploadPicturesDialogConfig.pictures">
						<td>
							<span 
								class="index"
								ng-bind="$index + 1">
							</span>
						</td>

						<td>
							<span class="pic-icon"></span>
						</td>

						<td>
							<span 
								class="name"
								ng-bind="::picture.name">
							</span>
						</td>

						<td>
							<span
								class="size" 
								ng-bind="::picture.size | byteFormat">
							</span>
						</td>

						<td ng-show="picture.uploading">
							<span
								class="progress" 
								ng-bind="picture.progress | percent">
							</span>
						</td>

						<td ng-show="picture.complete">
							<span
								class="state success">
								Success
							</span>
						</td>

						<td ng-show="picture.error">
							<span 
								class="state error">
								Error
							</span>
						</td>

						<td ng-show="picture.abort">
							<span 
								class="state aborted">
								Aborted
							</span>
						</td>

						<td>
							<button 
								class="btn abort-upload-picture-btn"
								ng-show="picture.uploading"
								ng-click="abortUploadPicture(picture)">
								Abort
							</button>
						</td>
		
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>