<div class="picture-page page">
	<div ng-include="'/backend/static/templates/loading.template.html'"
		 ng-if="isLoading">
	</div>

	<div ng-show="!isLoading" class="picture-page-body">
		<div class="content-area"
			ng-class="{collapse: preview.show}">
			<header class="header">
				<div class="btn-group clearfix">
					<button class="btn picture-select-btn fl">
						<input 
							id="picture-page-picture-upload-input-file"
							type="file" 
							multiple="multiple"
							onchange="angular.element(this).scope().onPictureInputChanged(event)"
						/>

						<label
							class="text" 
							for="picture-page-picture-upload-input-file">
							Upload
						</label>
					</button>

					<button 
						class="btn create-dir-dialog-btn fl"
						ng-click="openCreateDirDialog()">
						<span>New Directory</span>
					</button>

					<button 
						class="btn preview-btn fl"
						ng-click="togglePreview()">
						<span>Preview</span>
					</button>

					<button 
						class="btn batch-delete-btn fl">
						Batch Delete
					</button>
				</div>
			</header>

			<div class="body">
				<div class="picture-directory-list">
					<div class="path">
						<span 
							ng-show="path.length <= 0">
							All
						</span>

						<ul class="clearfix"
							ng-show="path.length > 0">
							<li class="fl">
								<a class="path-dir"
									href="javascript:;" 
									ng-click="backToParentDir()">
									Back
								</a>

								<span class="icon">|</span>
							</li>

							<li class="fl"
								ng-show="path.length > 3">
								<a class="path-dir"
									href="javascript:;">
									...
								</a>

								<span class="icon">&gt;</span>
							</li>
								
							<li class="fl"
								ng-if="path.length > 3"
								ng-repeat="dir in path | limitTo: 3 : path.length - 3">
									
								<a class="path-dir"
									href="javascript:;" 
									ng-click="changeToDir(dir)"
									ng-bind="dir.name">
								</a>

								<span class="icon">&gt;</span>
							</li>

							<li class="fl"
								ng-if="path.length <= 3"
								ng-repeat="dir in path">
									
								<a class="path-dir"
									href="javascript:;" 
									ng-click="changeToDir(dir)"
									ng-bind="dir.name">
								</a>

								<span class="icon">&gt;</span>
							</li>
						</ul>
					</div>

					<table>
						<thead>
							<tr>
								<td>
									<checkbox
										default-value="{{isAllChecked}}"
										on-change="toggleAllChecked()">
									</checkbox>
								</td>

								<td>
									<span>Index</span>
								</td>

								<td>
									<span class="icon">Icon</span>
								</td>

								<td>
									<span>Name</span>
								</td>

								<td>
									<span>Date</span>
								</td>
									

								<td>
									<span>Operation</span>
								</td>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="dirItem in dir.dirs"
								ng-dblclick="enterToDir(dirItem)">
								<td>
									<checkbox
										default-value="{{dirItem.isChecked}}"
										on-change="toggleCategoryChecked(dirItem)">
									</checkbox>
								</td>

								<td>
									<span ng-bind="dirItem.index + 1"></span>
								</td>

								<td>
									<span class="dir-icon"></span>
								</td>

								<td>
									<span ng-bind="dirItem.name"></span>
								</td>

								<td>
									<span ng-bind="dirItem.date | date"></span>
								</td>

								<td>
									<div class="operation-btn-group">
										<button 
											class="btn edit-btn"
											ng-click="openUpdateDirDialog(dirItem)">
											Edit
										</button>
										
										<button 
											class="btn delete-btn"
											ng-click="openDeleteDirDialog(dirItem)">
											Delete
										</button>
									</div>
								</td>
							</tr>

							<tr ng-repeat="pic in pic.pics">
								<td>
									<checkbox
										default-value="{{pic.isChecked}}"
										on-change="togglePictureChecked(pic)">
									</checkbox>
								</td>

								<td>
									<span ng-bind="pic.index + 1"></span>
								</td>

								<td>
									<span class="pic-icon"></span>
								</td>

								<td>
									<span ng-bind="pic.name"></span>
								</td>

								<td>
									<span ng-bind="pic.date | date"></span>
								</td>

								<td>
									<div class="operation-btn-group">
										<button 
											class="btn copy-link-btn">
											Copy Link
										</button>
										
										<button 
											class="btn delete-btn">
											Delete
										</button>
									</div>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="pagination-wrapper clearfix">
					<ul class="fl clearfix"
						uib-pagination
						boundary-links="true"
						items-per-page="pagination.numPerPage"
						total-items="pagination.total" 
						ng-model="pagination.curtPage" 
						ng-change="onPageChanged()">	
					</ul>
				</div>
			</div>
		</div>

		<div class="preview-area"
			ng-class="{extend: preview.show}">
		</div>

		<div class="context-menu-area">
			<context-menu 
				ng-show="contextMenu.dir._show"
				on-blur="contextMenu.dir.hide()"
				style="position: fixed; left: 500px; top: 300px; z-index: 99999;">
				
				<ul>
					<li>
						<a href="javascript:;"
							ng-click="contextMenu.dir.delete()">
							Delete
						</a>
					</li>

					<li>
						<a href="javascript:;"
							ng-click="contextMenu.dir.update()">
							Rename
						</a>
					</li>
				</ul>
			</context-menu>

			<context-menu 
				ng-show="contextMenu.pic._show"
				on-blur="contextMenu.pic.hide()"
				style="position: fixed; left: 500px; top: 300px; z-index: 99999;">
				
				<ul>
					<li>
						<a href="javascript:;"
							ng-click="contextMenu.pic.delete()">
							Delete
						</a>
					</li>

					<li>
						<a href="javascript:;"
							ng-show="::contextMenu.pic.isSupportCopyLink"
							ng-click="contextMenu.pic.copyLink()">
							Copy Link
						</a>
					</li>
				</ul>
			</context-menu>
		</div>

		<div>
			<wl-dialog
				ng-show="createDirDialogConfig.show"
				title="{{createDirDialogConfig.title}}"
				buttons="createDirDialogConfig.buttons"
				on-close="createDirDialogConfig.onClose()">
				
				<input 
					type="text" 
					ng-model="createDirDialogConfig.name"
				/>
			</wl-dialog>

			<wl-dialog
				ng-show="updateDirDialogConfig.show"
				title="{{updateDirDialogConfig.title}}"
				buttons="updateDirDialogConfig.buttons"
				on-close="updateDirDialogConfig.onClose()">
				
				<input 
					type="text" 
					ng-model="updateDirDialogConfig.dir.name"
				/>
			</wl-dialog>

			<wl-dialog
				ng-show="deleteDirDialogConfig.show"
				title="{{deleteDirDialogConfig.title}}"
				buttons="deleteDirDialogConfig.buttons"
				on-close="deleteDirDialogConfig.onClose()">
				
				<p>Are you sure to delete this dir?</p>
			</wl-dialog>

			<wl-dialog
				ng-show="deletePictureDialogConfig.show"
				title="{{deletePictureDialogConfig.title}}"
				buttons="deletePictureDialogConfig.buttons"
				on-close="deletePictureDialogConfig.onClose()">
				
				<p>Are you sure to delete this picture?</p>
			</wl-dialog>
		</div>

		<div ng-show="uploadPicturesDialogConfig.show">
			<div class="clearfix">
				<h4 class="title fl">Upload Picture</h4>	
				<button class="btn btn-close icon iconfont fr"
						ng-click="closeUploadPicturesDialog()">
						&#xe61c;
				</button>
			</div>

			<div>
				<table>
					<tbody>
						<tr ng-repeat="picture in uploadPicturesDialogConfig.pictures">
							<td>
								<i></i>
								<span ng-bind="::picture.name"></span>
							</td>

							<td>
								<span ng-bind="::picture.size | byteFormat"></span>
							</td>

							<td ng-show="picture.uploading">
								<span ng-bind="picture.progress | percent"></span>
							</td>

							<td ng-show="picture.uploading">
								<button 
									class="btn"
									ng-click="abortUploadPicture(picture)">
									Abort
								</button>
							</td>

							<td ng-show="picture.complete">
								<span>success</span>
							</td>

							<td ng-show="picture.error">
								<span>error</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	

	

	<!-- <image-upload-dialog
		ng-if="imageUploadDialog.show"
		on-close="imageUploadDialog.onClose()"
		on-cancel="imageUploadDialog.onCancel()"
		on-confirm="imageUploadDialog.onConfirm()">
	</image-upload-dialog> -->
</div>