<div>
	<h1>picture template</h1>

	<form 
		method="post" 
		action="/backend/picture/upload" 
		enctype="multipart/form-data"
		target="iframe">
		<input type="file" name="picture">
		<input type="text" name="directory" value="15">
		<button type="submit">submit</button>
	</form>

	<iframe name="iframe"></iframe>

	<!-- <image-upload-dialog
		ng-if="imageUploadDialog.show"
		on-close="imageUploadDialog.onClose()"
		on-cancel="imageUploadDialog.onCancel()"
		on-confirm="imageUploadDialog.onConfirm()">
	</image-upload-dialog> -->
</div>