<div>
	<div ng-include="'/backend/static/templates/loading.template.html'"
		 ng-if="isLoading">
	</div>

	<div>
		<div>
			<div>
				<button 
					class="btn">
					<span>Upload</span>
				</button>

				<button 
					class="btn"
					ng-click="openCreateDirDialog()">
					<span>New Directory</span>
				</button>
			</div>

			{{dirs}}
		</div>	

		<div>
			<wl-dialog
				ng-show="createDirDialogConfig.show"
				title="{{createDirDialogConfig.title}}"
				buttons="createDirDialogConfig.buttons"
				on-close="createDirDialogConfig.onClose()">
				
				<input 
					type="text" 
					ng-model="createDirDialogConfig.name"
				/>
			</wl-dialog>
		</div>
	</div>

	

	<!-- <image-upload-dialog
		ng-if="imageUploadDialog.show"
		on-close="imageUploadDialog.onClose()"
		on-cancel="imageUploadDialog.onCancel()"
		on-confirm="imageUploadDialog.onConfirm()">
	</image-upload-dialog> -->
</div>