<div class="profile-page page">
	<div ng-include="'/backend/static/templates/loading.template.html'"
		 ng-if="loading">
	</div>

	<div class="dialog-area">
		
	</div>

	<div class="model-dialog-area">
		<upload-photo-dialog 
			ng-if     ="uploadPhotoDialog.show"
			image     ="{{uploadPhotoDialog.image}}"
			on-close  ="uploadPhotoDialog.cancel()"
			on-cancel ="uploadPhotoDialog.cancel()"
			on-confirm="uploadPhotoDialog.confirm(image)"
			>
		</upload-photo-dialog>
	</div>

	<div ng-if="!loading"
	     class="profile-page-body">
	     <div class="wrapper">
	     	<ul class="profile-tab clearfix">
		     	<li class="fl tab-item"><a>Personal Info</a></li>
		     	<li class="fl tab-item active"><a>Setting Photo</a></li>
		    	<li class="fl tab-item"><a>Change Password</a></li>
		    </ul>

		    <div class="setting-photo" 
	     	  	 ng-show="true">

		     	<div class="setting-photo-area">
		     	 	<div class="photo">
		     	  		<div class="wrapper">
		     	  			<i class="icon iconfont">&#xe6ad;</i>
		     	  			<span class="title">点击选择上传头像</span>
		     	  			<input type="file" 
		     	  				   title=" " 
		     	  				   onchange="angular.element(this).scope().onImageSelect.call(this, event)"
		     	  			/>
		     	  		</div>
		     	  	</div>
		     	  	<p class="photo-desc">仅支持JPG,PNG格式，文件小于10M</p>
		     	</div>

		     	<div class="target-photo-area">
		     	  	<h3 class="title">最佳尺寸100×100，可以上传高质量图片进行裁切</h3>

		     	  	<ul class="clearfix">
		     	  		<li class="fl">
		     	  			<div class="target-photo large">
		     	  				<div class="wrapper">
		     	  					<img ng-src="{{user.photo}}"/>
		     	  				</div>
		     	  			</div>
		     	  		</li>

		     	  		<li class="fl">
		     	  			<div class="target-photo medium">
		     	  				<div class="wrapper">
		     	  					<img ng-src="{{user.photo}}"/>
		     	  				</div>
		     	  			</div>
		     	  		</li>

		     	  		<li class="fl">
		     	  			<div class="target-photo small">
		     	  				<div class="wrapper">
		     	  					<img ng-src="{{user.photo}}"/>
		     	  				</div>
		     	  			</div>
		     	  		</li>
		     	  	</ul>
		     	</div>

	     	</div>

	     </div>
	</div>
	
</div>