@import "./home";
@import "./profile";
@import "./article/article";
@import "./picture/picture";

.app {
	& > .header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 60rem;
		padding: 0 3rem;
		background: $blue;
		box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.4);

		.header-nav,
		.header-profile {
			height: 6.4rem;
			line-height: 6.4rem;
		}

		.header-nav {
			& > .title {
				font-weight: 500;
				font-size: 2.5rem;
				color: $white;
			}

			.menu-bar-toggle {
				position: relative;
				display: block;
				width: 1.8rem;
				height: 100%;
				margin-left: 2rem;
				cursor: pointer;

				span {
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					width: 100%;
					height: 1.6rem;

					i {
						display: block;
						width: 100%;
						height: 0.2rem;
						margin-bottom: 0.4rem;
						background: $white;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.header-profile {
			.intro {
				display: block;
				margin-right: 1rem;
				cursor: pointer;

				.photo-wrapper {
					width: 6.4rem;
					height: 6.4rem;
					padding: 1rem;
					overflow: hidden;

					.photo {
						height: 100%;
						-webkit-border-radius: 50%;
								border-radius: 50%;
					}
				}

				.name {
					@include textOverflowEllipsis;

					width: 8rem;
					text-align: center;
					font-size: 1.8rem;
					color: $white;

					&:hover {
						color: $white;
					}
				}
			}

			.logout-btn {
				.icon {
					font-size: 1.8rem;
					color: $white;

					&:hover {
						color: $white;
					}
				}
			}
		}
	}

	& > .menu-bar,
	& > .body {
		height: 100%;
		padding-top: 6.4rem;
		background-color: rgba(236,239,241,0.56);
	}

	& > .menu-bar {
		position: absolute;
		top: 0;
		left: 0;
		width: 22.5rem;
		overflow: hidden;
		box-shadow: .2rem 0 .4rem 0 rgba(0, 0, 0, 0.4);
		
		-webkit-transition: width 0.3s ease-in-out;
		-moz-transition: width 0.3s ease-in-out;
			-ms-transition: width 0.3s ease-in-out;
			-o-transition: width 0.3s ease-in-out;
				transition: width 0.3s ease-in-out;

		&.collapse {
			width: 0;
		}

		nav {
			width: 22.5rem;
			cursor: pointer;

			.main-menu {
				& > li {
					width: 100%;
					list-style: none;
					border-bottom: 1px solid rgba(207,216,220,0.56);

					a {
						position: relative;
						display: block;
						padding: 1.5rem 1rem 1.5rem 3rem;
						font-size: 1.6rem;
						color: $grey;
						text-decoration: none;

						&:hover  {
							color: $black;
						}
					}

					ul {
						position: relative;
						height: auto;
						max-height: 0;
						background-color: rgba(207,216,220,0.56);
						overflow: hidden;

						-webkit-transition: max-height .3s ease-in-out;
						-moz-transition: max-height .3s ease-in-out;
							-ms-transition: max-height .3s ease-in-out;
							-o-transition: max-height .3s ease-in-out;
								transition: max-height .3s ease-in-out;

						li:hover {
							a {
								background-color: rgba(255,255,255,0.24);
							}
						}
					}

					&.active {
						& > a {
							color: $blue;
							background: rgba(207,216,220,0.24);
						}

						&.has-sub-menu {
							& > a {
								box-shadow: 0 1px 2px rgba(0,0,0,0.24);
							}

							ul {
								max-height: 16.2rem;

								a.active {
									background: rgba(207,216,220,0.87);
									color: #1976D2;
								}
							}
						}
					}
				}
			}
		}
	}

	& > .message-area {
		position: fixed;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100%;

		.message-list {
			position: relative;
			height: 0;
			margin-right: 3rem;

			.message-dialog {
				position: relative;
				top: 7rem;
				right: 0;
				width: 30rem;
				min-height: 6rem;
				padding: 1rem 2rem;
				margin-top: 1rem;
				border-radius: 0.4rem;

				&.ng-leave {
					-webkit-transition: all 0.3s linear;
					-moz-transition: all 0.3s linear;
					-ms-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
				}

				&.ng-leave.ng-leave-active {
					right: -40rem;
				}

				&.error {
					color: $cerise;
					background: $pink;
					box-shadow: 0 0 0.4rem 0 $pink;
				}

				&.success {
					color: $green;
					background: $lightGreen;
					box-shadow: 0 0 0.4rem 0 $lightGreen;
				}

				.icon-wrapper {
					position: absolute;

					.icon {
						font-size: 2.4rem;
					}
				}

				.message {
					padding-top: 0.8rem;
					padding-left: 3.5rem;
					font-size: 1.6rem;
				}
			}
		}
	}


	& > .body {
		position: relative;
		width: 100%;
		min-width: 110rem;
		height: 100%;

		.view {
			position: relative;
			width: 100%;
			height: 100%;
			padding-left: 22.5rem;

			-webkit-transition: padding 0.3s ease-in-out;
			-moz-transition: padding 0.3s ease-in-out;
				-ms-transition: padding 0.3s ease-in-out;
				-o-transition: padding 0.3s ease-in-out;
					transition: padding 0.3s ease-in-out;
			
			.page {
				position: relative;
				width: 100%;
				height: 100%;

				.dialog-area,
				.model-dialog-area {
					z-index: 100;
					top: 0;
					left: 0;
					width: 100%;
					height: 0;
					padding-right: 3rem;
				}


				.dialog-area {
					position: relative;

					
				}
			}
		}

		&.extend {
			.view {
				padding-left: 0;
			}
		}
	}
}
