@import "./home";
@import "./profile";

.header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	padding: 0 3rem;
	background: $white;
	box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.4);
}

.header-nav,
.header-profile {
	height: 6.4rem;
	line-height: 6.4rem;
}

.header-nav {
	& > .title {
		font-weight: 500;
		font-size: 2.5rem;
		color: $blue;
	}

	.menu-bar-toggle {
		position: relative;
		display: block;
		width: 1.8rem;
		height: 100%;
		margin-left: 2rem;
		cursor: pointer;

		span {
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 1.6rem;

			i {
				display: block;
				width: 100%;
			    height: 0.2rem;
			    margin-bottom: 0.4rem;
			    background: $grey;

			    &:last-child {
			    	margin-bottom: 0;
			    }
			}
		}
	}
}

.header-profile {
	.intro {
		display: block;
		margin-right: 1rem;
		cursor: pointer;

		.photo-wrapper {
			width: 6.4rem;
			height: 6.4rem;
			padding: 1rem;
			overflow: hidden;

			.photo {
				height: 100%;
				-webkit-border-radius: 50%;
						border-radius: 50%;
			}
		}

		.name {
			@include textOverflowEllipsis;

			width: 8rem;
			text-align: center;
			font-size: 1.8rem;
			color: $grey;

			&:hover {
				color: $black;
			}
		}
	}

	.logout-btn {
		.icon {
			font-size: 1.8rem;
			color: $grey;

			&:hover {
				color: $black;
			}
		}
	}
}

.menu-bar,
.body {
	height: 100%;
	padding-top: 6.4rem;
}

.menu-bar {
	position: absolute;
	width: 22.5rem;
	z-index: 5;
	overflow: hidden;
	background: $white;
	box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.4);
	
	-webkit-transition: width 0.3s ease-in-out;
	   -moz-transition: width 0.3s ease-in-out;
	    -ms-transition: width 0.3s ease-in-out;
	     -o-transition: width 0.3s ease-in-out;
	        transition: width 0.3s ease-in-out;

	&.collapse {
		width: 8rem;

		& + .body {
			padding-left: 8rem;
		}

		.text {
			display: none;
		}
	}

	nav {
		width: 100%;
		padding-top: 2rem;

		li {
			width: 22.5rem;
			list-style: none;

			a {
				position: relative;
				display: block;
			    padding: 0 3rem;
			    margin: 2rem 0;
			    font-size: 1.6rem;
			    color: $grey;
			    text-decoration: none;

			    &:hover  {
			    	color: $black;
			    }

			    &.active {
			    	color: $blue;
			    }

			    &:hover:after,
			    &.active:after {
			    	content: "";
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	width: 3px;
			    	height: 100%;
			    }


			    &:hover:after {
			    	background: $black;
			    }

			    &.active:after {
			    	background: $blue;
			    }

			    .icon {
			    	font-size: 2rem;
			    	color: $blue;
			    	margin-right: 1rem;
			    }
			}
		}
	}
}

.body {
	position: relative;
	padding-left: 22.5rem;
	z-index: 1;

	-webkit-transition: padding 0.3s ease-in-out;
	   -moz-transition: padding 0.3s ease-in-out;
	    -ms-transition: padding 0.3s ease-in-out;
	     -o-transition: padding 0.3s ease-in-out;
	        transition: padding 0.3s ease-in-out;

	.page {
		position: relative;
		width: 100%;
		height: 100%;
		padding-right: 3rem;

		.dialog-area,
		.model-dialog-area {
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			padding-right: 3rem;
		}


		.dialog-area {
			position: relative;

			.message-dialog {
				position: absolute;
				top: 1rem;
				right: 0;
				display: block;
				width: 30rem;
				min-height: 6rem;
				padding: 1rem 2rem;
				border-radius: 0.4rem;

				&.ng-enter {
					top: 0;
					-webkit-transition: top 0.2s ease-in-out;
					-moz-transition: top 0.2s ease-in-out;
					-ms-transition: top 0.2s ease-in-out;
					-o-transition: top 0.2s ease-in-out;
					transition: top 0.2s ease-in-out;
				}

				&.ng-enter.ng-enter-active {
					top: 1rem;
				}

				&.ng-leave {
					-webkit-transition: right 0.3s ease-in-out;
					-moz-transition: right 0.3s ease-in-out;
					-ms-transition: right 0.3s ease-in-out;
					-o-transition: right 0.3s ease-in-out;
					transition: right 0.3s ease-in-out;
				}

				&.ng-leave.ng-leave-active {
					right: -40rem;
				}

				&.error {
					color: $cerise;
					background: $pink;
					box-shadow: 0 0 0.4rem 0 $pink;
				}

				&.success {
					color: $green;
					background: $lightGreen;
					box-shadow: 0 0 0.4rem 0 $lightGreen;
				}

				.icon-wrapper {
					position: absolute;

					.icon {
						font-size: 2.4rem;
					}
				}

				.message {
					padding-top: 0.8rem;
					padding-left: 3.5rem;
					font-size: 1.6rem;
				}
			}
		}
	}
}
