.profile-page-body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 3rem 0 4rem 3rem;

	.profile-tab {
		border-bottom: 1px solid $blue;
		background-color: $blue;
		box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, .4);

		.tab-item {
			margin-left: 2rem;
			padding: 1rem 0 0.8rem;
			cursor: pointer;

			&:first-child {
				margin-left: 0;
				padding-left: 1.8rem;
			}

			&.active,
			&:hover {
				border-bottom: 2px solid $white;
			}

			a {
				font-size: 1.6rem;
				color: $white;
			}
		}
	}

	.setting-photo {
		position: relative;
		margin-top: 3rem;
		padding: 5rem 0 5rem 4rem;
		box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, .4);
		overflow: hidden;

		.setting-photo-area {
			position: relative;
			display: inline-block;
			z-index: 10;

			.photo {
				padding-right: 5rem;
			    border-right: 1px solid #f4f4f4;

			    & > .wrapper {
			    	position: relative;
			    	width: 22rem;
				    height: 22rem;
				    line-height: 22rem;
				    cursor: pointer;
				    text-align: center;
				    background: #f4f4f4;

				    .icon {
				    	margin-right: 1rem;
				    	font-size: 3rem;
					    color: $grey;
				    }

				    .title {
					    font-size: 1.4rem;
			    		color: $grey;
				    }

				    input {
				    	position: absolute;
				    	top: 0;
				    	left: 0;
				    	width: 100%;
				    	height: 100%;
				    	outline: none;
				    	opacity: 0;
				    	cursor: pointer;
				    }
			    }
			}   

			.photo-desc {
			    margin-top: 1rem;
			   	color: $grey;
			}
		}

		.target-photo-area {
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding: 5rem 0 5rem 36rem;

			& > .title {
				font-weight: 400;
			    color: $grey;
			    margin-bottom: 4rem;
			}

			.target-photo {
				position: relative;
				margin-right: 4rem;
			    height: 10rem;

			    .wrapper {
			    	position: absolute;
			    	margin: auto;
			    	left: 0;
			    	right: 0;
			    	top: 0;
			    	bottom: 0;
			    	border-radius: 50%;
			    	overflow: hidden;

			    	img {
			    		width: 100%;
			    		height: 100%;
			    	}
			    }

			    &.large {
			    	$width: 10rem;
			    	width: $width;

			    	.wrapper {
			    		width: $width;
			    		height: $width;
			    	}
			    }

			    &.medium {
			    	$width: 6.4rem;
			    	width: $width;

			    	.wrapper {
			    		width: $width;
			    		height: $width;
			    	}
			    }

			    &.small {
			    	$width: 3.2rem;
			    	width: $width;

			    	.wrapper {
			    		width: $width;
			    		height: $width;
			    	}
			    } 
			}
		}
	}
}

// .image-cropper-dialog {
// 	position: absolute;
// 	z-index: 100;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	text-align: center;
// 	background-color: rgba(0, 0, 0, .4);

// 	& > .wrapper {
// 		display: inline-block;
// 		width: 75rem;
// 		margin-top: 10rem;
// 	    border-radius: 2px;
// 	    background-color: $white;
// 	    box-shadow: 0 0 4px 0 rgba(0,0,0,.4);

// 		.dialog-header {
// 			padding: 1.4rem 2.4rem;
//     		border-bottom: 1px solid rgba(0,0,0, 0.1);
			
// 			& > .title {
// 				font-weight: 400;
//     			font-size: 1.6rem;
// 			}
// 		}

// 		.dialog-body {
// 			position: relative;
//     		padding: 2rem 4rem;
//     		border-bottom: 1px solid rgba(0,0,0,.1);

//     		.image-cropper-wrapper {
//     			position: relative;
// 			    z-index: 10;
// 			    padding-right: 5.5rem;
// 			    border-right: 1px solid rgba(0,0,0,.1);
// 			}

// 			.photo-preview {
// 				margin-left: 5rem;

// 				& > .title {
// 					margin-bottom: 4rem;
// 					font-weight: 400;
// 				    font-size: 1.2rem;
// 				    text-align: left;
// 				    color: $grey;
// 				}

// 				.photo-preview-body {
// 					.preview-photo {
// 						margin-left: 3rem;

// 						&:first-child {
// 							margin-left: 0;
// 						}

// 						.preview-photo-desc {
// 							margin-top: 2rem;
//     						color: $grey;
// 						}

// 						.image-wrapper {
// 							position: relative;
// 							height: 10rem;

// 							.inner-wrapper {
// 							    position: absolute;
// 							    margin: auto;
// 							    left: 0;
// 							    right: 0;
// 							    top: 0;
// 							    bottom: 0;
// 							    overflow: hidden;
// 							    border-radius: 50%;

// 							    img {
// 							    	width: 100%;
// 							    	height: 100%;
// 							    }
// 							}
// 						}

// 						&.large {
// 							.image-wrapper {
// 								$width: 10rem;
// 								width: $width;

// 								.inner-wrapper {
// 									width: $width;
// 									height: $width;
// 								}
// 							}
// 						}

// 						&.medium {
// 							.image-wrapper {
// 								$width: 6.4rem;
// 								width: $width;

// 								.inner-wrapper {
// 									width: $width;
// 									height: $width;
// 								}
// 							}
// 						}

// 						&.small {
// 							.image-wrapper {
// 								$width: 3.2rem;
// 								width: $width;

// 								.inner-wrapper {
// 									width: $width;
// 									height: $width;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.dialog-footer {
// 			& > .btn-group {
// 				padding: 1.4rem 2.4rem;
				
// 				.btn {
// 					padding: 0.8rem 1.5rem;
// 					border-radius: 2px;
// 				    font-size: 1.6rem;
// 				    color: $white;
				  
// 				    &.btn-cancel {
// 				    	margin-right: 1.5rem;
// 				    	background-color: $grey;
// 				    }

// 				    &.btn-confirm {
// 				    	background-color: $blue;
// 				    }
// 				}
// 			}
			
// 		}
// 	}
// }